In [2]:
import pandas as pd
df=pd.read_csv('/content/data.csv')

In [ ]:
one_hot_encoded_data = pd.get_dummies(df, columns = ['MaritalStatus', 'Gender','PreferredCategory'])
print(one_hot_encoded_data)

     CustomerID   Age  AnnualIncome  TotalPurchases  MaritalStatus_Married  \
0             1  44.0       36876.0              34                      1
1             2  57.0       42736.0              17                      1
2             3  19.0       36490.0              20                      1
3             4  33.0       38817.0              22                      1
4             5  44.0       69370.0              34                      1
..          ...   ...           ...             ...                    ...
495         496  59.0       36245.0              48                      1
496         497  25.0       45948.0              14                      1
497         498  24.0       36195.0              23                      1
498         499  52.0       70325.0              45                      1
499         500  21.0       78678.0               9                      1

     MaritalStatus_Single  Gender_Female  Gender_Male  \
0                       0              1            0
1                       0              0            1
2                       0              1            0
3                       0              0            1
4                       0              0            1
..                    ...            ...          ...
495                     0              1            0
496                     0              1            0
497                     0              1            0
498                     0              0            1
499                     0              1            0

     PreferredCategory_Books  PreferredCategory_Clothing  \
0                          1                           0
1                          0                           0
2                          0                           0
3                          0                           0
4                          0                           1
..                       ...                         ...
495                        0                           0
496                        0                           0
497                        0                           0
498                        1                           0
499                        0                           1

     PreferredCategory_Electronics  PreferredCategory_Groceries
0                                0                            0
1                                1                            0
2                                1                            0
3                                1                            0
4                                0                            0
..                             ...                          ...
495                              0                            1
496                              1                            0
497                              1                            0
498                              0                            0
499                              0                            0

[495 rows x 12 columns]

In [ ]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler
numerical_columns = ['Age', 'AnnualIncome', 'TotalPurchases']
scaler = StandardScaler()
one_hot_encoded_data[numerical_columns] = scaler.fit_transform(one_hot_encoded_data[numerical_columns])

min_max_scaler = MinMaxScaler()
one_hot_encoded_data[numerical_columns] = min_max_scaler.fit_transform(one_hot_encoded_data[numerical_columns])

In [ ]:
one_hot_encoded_data

,CustomerID,Age,AnnualIncome,TotalPurchases,MaritalStatus_Married,MaritalStatus_Single,Gender_Female,Gender_Male,PreferredCategory_Books,PreferredCategory_Clothing,PreferredCategory_Electronics,PreferredCategory_Groceries
0,1,0.553191,0.097281,0.673469,1,0,1,0,1,0,0,0
1,2,0.829787,0.181102,0.326531,1,0,0,1,0,0,1,0
2,3,0.021277,0.091760,0.387755,1,0,1,0,0,0,1,0
3,4,0.319149,0.125045,0.428571,1,0,0,1,0,0,1,0
4,5,0.553191,0.562072,0.673469,1,0,0,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
495,496,0.872340,0.088255,0.959184,1,0,1,0,0,0,0,1
496,497,0.148936,0.227046,0.265306,1,0,1,0,0,0,1,0
497,498,0.127660,0.087540,0.448980,1,0,1,0,0,0,1,0
498,499,0.723404,0.575732,0.897959,1,0,0,1,1,0,0,0
499,500,0.063830,0.695212,0.163265,1,0,1,0,0,1,0,0

In [ ]:
one_hot_encoded_data.to_csv('data1.csv')